@model IEnumerable<netZkouska.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
	<p>
		Title: @Html.TextBox("SearchStringName") <br />
		<input type="submit" value="Filter" />
	</p>
}
 
<table class="table">
	<tr>
        <th>
			@Html.ActionLink("Jmeno", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Prijmeni", "Index", new { sortOrder = ViewBag.SurNameSortParm })
        </th>
		<th>
			@Html.ActionLink("Ma zapocet", "Index", new { sortOrder = ViewBag.HasCourseSortParm })
		</th>
		<th>
			@Html.ActionLink("Znamka", "Index", new { sortOrder = ViewBag.GradeParm })
		</th>
		
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.hasCourseCredit)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Grade)
		</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentID })
        </td>
    </tr>
}

</table>
